*{
  margin: 0;
  padding: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background: rgb(160, 186, 236);

}
.navigation{
  position: fixed;
  width: 100%;
}
nav{
  background-color: white;
  box-shadow: 3px 3px 5px rgba(0,0,0,0.1);


}
nav ul{
  width:100%;
  list-style: none;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
nav li{
  height: 50px;
  
}
a{
  height: 100%;
  padding: 0 30px;
  text-decoration: none;
  display: flex;
  align-items: center;
  color: #000;
}
nav a:hover{
  background-color: #f0f0f1;
}
nav li:first-child{
  margin-right: auto;
}
img{
  width:30px;
}
.sidebar{
  position: fixed;
  top:0;
  right: 0;

  width:250px;
  z-index: 999;
  background-color: #ffffff52;
  backdrop-filter: blur(10px);
  box-shadow: -10px 0 10px rgba(0,0,0,0.1);
  display: none;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.sidebar li{
  width: 100%;
}
.sidebar a{
  width:100%;
}
.menuButton{
  display: none;
}
@media (max-width:800px) {
  .hideOnMobile{
    display:none;
  }
  .menuButton{
    display: block;
  }
  
}
@media (max-width:400px) {
  .sidebar{
    width: 100%;
  }
  
}